.ser {
  background-color: #1e2120;
  display: flex;
  height: 1180px;
  width: 60vh;
  object-fit: cover;
  margin-top: -60px;
  font-family: "Fira Code", monospace;
  color: #ffffff;
}
.h1se6 {
  display: flex;
  font-size: 45px;
  margin-left: 27px;
  margin-top: 57px;
}
.serv1 {
  background-color: #494746;
  width: 290px;
  height: 250px;
  margin-top: 120px;
  margin-left: 40px;
}
.serv2 {
  background-color: #494746;
  width: 290px;
  height: 250px;
  margin-top: 80px;
  margin-left: 40px;
}
.serv3 {
  background-color: #494746;
  width: 290px;
  height: 250px;
  margin-top: 80px;
  margin-left: 40px;
}
.lap1 {
  width: 60px;
  height: 60px;
  margin-left: 120px;
  margin-top: 15px;
}
.h1se1 {
  font-family: "Fira Code", monospace;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  margin-top: 15px;
}
.p1se1 {
  font-family: "Fira Code", monospace;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}
.h1se12 {
  font-family: "Fira Code", monospace;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  margin-top: 15px;
}
.p1se2 {
  font-family: "Fira Code", monospace;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}
.h1se13 {
  font-family: "Fira Code", monospace;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  margin-top: 15px;
}
.p1se3 {
  font-family: "Fira Code", monospace;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}
@media screen and (max-width: 640px) {
  .ser {
    display: block;
  }
}

@media screen and (min-width: 1500px) {
  .ser {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .ser {
    display: none;
  }
}
